@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "Nimbus";
    src: url("../public/fonts/TAN-NIMBUS.ttf");
}

@font-face {
    font-family: "Dream Avenue";
    src: url("../public/fonts/dream-avenue.ttf");
}

:root {
    --font-nixie: Nixie One;
    --font-nimbus: Nimbus;
    --font-dream: Dream Avenue;
    --font-weight: 400;
    --font-style: normal;
    --font-color-light: oklch(0.21 0.034 264.665);

    body {
        font-family: var(--font-nixie);
        @apply text-[16px] sm:text-[18px] md:text-xl lg:text-2xl text-black
    }


}

@layer base {
    h1 {
        font-family: var(--font-nimbus);
        @apply text-4xl sm:text-5xl md:text-6xl text-center
    }

    h2 {
        font-family: var(--font-nimbus);
        @apply text-2xl sm:text-3xl md:text-4xl text-center
    }

    h3 {
        font-family: var(--font-nixie);
        @apply text-3xl sm:text-4xl md:text-5xl text-center font-bold
    }
}

.borderBlack {
    @apply border border-black/10
}