@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "Nimbus";
    src: url("../public/fonts/TAN-NIMBUS.ttf");
}

@font-face {
    font-family: "Dream Avenue";
    src: url("../public/fonts/dream-avenue.ttf");
}

:root {
    --font-nixie: Nixie One;
    --font-nimbus: Nimbus;
    --font-dream: Dream Avenue;
    --font-weight: 400;
    --font-style: normal;

    body {
        font-family: var(--font-nixie);
        font-size: 16px;
    }

    input, button, textarea, select {
        font: inherit;
    }
}

@layer base {
    h1 {
        font-family: var(--font-nimbus);
        font-size: 5em;
    }

    h2 {
        font-family: var(--font-dream);
        font-size: 4em;
    }
}